<%- include("header") -%>
<h1 class="list-title">About</h1>
<p>As a software engineer, I am driven by my passion for creating innovative solutions through code. With an exceptional aptitude for solving problems, solid foundation in computer science, and a deep expertise in software development, I excel at building efficient and scalable applications that solve complex issues.
    <br>
    I have extensive, hands-on experience in a variety of programming languages, frameworks, and tools, and a proven track record of delivering high-quality software solutions. I am skilled in developing full-stack applications, implementing algorithms, and optimizing performance to deliver robust and reliable systems. I also have an excellent academic background, as a Master of Science in Computer Science student at Johns Hopkins University with a concentration in artificial intelligence; I also have a Bachelor of Science in Bioinformatics from the University of Florida. I enjoy working on various projects including blockchain and machine learning applications when I'm away from work (available on my Github: github.com/redsonoperations, go check it out!).
    <br>
    As a detail-oriented problem solver, I thrive in fast-paced environments and enjoy tackling challenging projects. My collaborative approach, coupled with excellent communication skills, enables me to work effectively with cross-functional teams and deliver results that meet or exceed expectations.
    <br>
    Continuously staying updated with the latest advancements in software development, I am committed to honing my skills and staying at the forefront of industry trends. I am passionate about leveraging cutting-edge technologies to drive innovation and create impactful software solutions.</p>
<%- include("footer") -%>