<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="https://images.vexels.com/media/users/3/151869/isolated/preview/767ca771755f4675d4063c03e17c8595-medical-checklist-icon.png">
    <style>
      /* apply a border radius of 50% to the favicon */
      link[rel="icon"] {
        border-radius: 90%;
        background-color: transparent;
      }
    </style>    
    <title>justdoit.io</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="/">justdoit.io</a>
      </div>
      <ul class="navbar-menu">
        <li class="navbar-menu-item">
          <a href="/">Home</a>
        </li>
        <li class="navbar-menu-item">
          <a href="/about">About</a>
        </li>
        <li class="navbar-menu-item">
          <a href="/create">Create</a>
        </li>
      </ul>
      <div class="navbar-search">
        <form action="/find" method="post">
          <div class="navbar-search-input">
            <input type="text" placeholder="Search" name="find">
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
    </nav>
</header>